html, body {
	height:100%;
	width: 100%;
	overflow: hidden;
	overflow-x: hidden;
}


body {
	background-image: url(http://210.118.74.153/ring/asset/img/bg-pattern.jpg);
	background-repeat: repeat;
	position: absolute;
	overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,128,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.spinner {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width:100%;
	height:2000px;
	z-index:999999;
	background-color:rgba(0, 0, 0, 0.25)
}